/** @format */

.destination {
  height: 100vh;
  background-image: url(/public/assets/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem 0;
}

.dest-main--container {
  padding: 5rem 10rem 0 30rem;
}

.dest-main--header {
  color: var(--cl-primary);
  font-size: var(--fs-md);
  font-family: var(--ff-bc);
  font-weight: var(--fw-normal);
  letter-spacing: 0.4725rem;
  text-transform: uppercase;
  margin-bottom: 7rem;
  margin-top: 15rem;
  padding: 0 3rem;
}

.dest-main--header span {
  opacity: 0.25;
  font-weight: var(--fw-exlg);
}

.dest-img {
  width: 40rem;
  /* height: 40rem; */
}

.dest-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  padding: 5rem;
}

.dest-container--box {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

hr {
  width: 90%;
  background: #383b4b;
  height: 1px;
  opacity: 0.2;
}

.dest-container--nav {
  display: flex;
  gap: 3rem;
  padding-left: 1rem;
}

.btn-dest {
  color: var(--cl-secondary);
  font-size: var(--fs-smlst);
  font-family: var(--ff-bc);
  font-weight: var(--fw-md);
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: none;
  transition: all 0.3s;
}

.btn-dest:hover {
  border-bottom: 1px solid #fff;
}

.dest-container--header {
  color: var(--cl-primary);
  font-size: var(--fs-lg);
  font-family: var(--ff-be);
  font-weight: var(--fw-md);
  line-height: normal;
  text-transform: uppercase;
}

.dest-container--text {
  color: var(--cl-secondary);
  font-size: var(--fs-sm);
  font-family: var(--ff-b);
  font-weight: var(--fw-md);
  line-height: 3.2rem;
  margin-bottom: 2rem;
  /* width: 90%; */
}

.dest-container--box-footer {
  display: flex;
  gap: 5rem;
}

.dest-footer-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dest-paragraph {
  color: var(--cl-secondary);
  font-size: var(--fs-thin);
  font-family: var(--ff-bc);
  letter-spacing: 0.2362rem;
  text-transform: uppercase;
}

.dest-paragraph--inside {
  color: var(--cl-primary);
  font-size: var(--fs-md);
  font-family: var(--ff-be);
  text-transform: uppercase;
}

/* ..........MEDIA QUERIES........... */

@media (max-width: 1000px) {
  .dest-main--header {
    margin-bottom: 5rem;
  }

  .dest-container {
    gap: 7rem;
  }

  .dest-img {
    width: 35rem;
  }
}

@media (max-width: 800px) {
  .destination {
    padding: 0;
  }

  .dest-main--header {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .dest-container {
    flex-direction: column;
    text-align: center;
    gap: 5rem;
  }

  .dest-img {
    width: 25rem;
  }

  .dest-container--box {
    align-items: center;
  }

  .dest-container--header {
    font-size: 6rem;
  }

  .dest-container--text {
    font-size: var(--fs-smlst);
    line-height: 2.6rem;
    margin-bottom: 2rem;
  }

  hr {
    width: 100%;
  }
}

@media (max-width: 660px) {
  .destination {
    padding: 2rem 0;
  }

  .dest-container {
    gap: 3rem;
  }

  .dest-main--header {
    font-size: var(--fs-sm);
  }

  .dest-img {
    width: 20rem;
  }

  .dest-container--box {
    gap: 2rem;
  }

  .dest-container--header {
    font-size: 5rem;
  }

  .dest-container--text {
    font-size: var(--fs-thin);
    line-height: 2.6rem;
    margin-bottom: 2rem;
  }

  .dest-paragraph--inside {
    font-size: var(--fs-sm);
  }
}

@media (max-width: 380px) {
  .dest-main--header {
    font-size: var(--fs-smlst);
    padding: 0 1rem;
  }
}
